In [1]:
import pandas as pd
import numpy as np

from sklearn.metrics import roc_curve

pd.options.display.max_columns = None
pd.options.display.max_rows = 100

# Applying the PD Model

In [2]:
summary_table = pd.read_csv('../processed/05_summary_table.csv')
summary_table.head()

  Feature name  Coefficients      p_values
0    Intercept      1.483647           NaN
1      grade_A      0.889716  1.387834e-18
2      grade_B      0.761152  1.163630e-31
3      grade_C      0.579016  8.214773e-22
4      grade_D      0.426654  1.107295e-13

In [3]:
ref_categories = ['grade:G',
'home_ownership:RENT_OTHER_NONE_ANY',
'addr_state:ND_NE_IA_NV_FL_HI_AL',
'verification_status:Verified',
'purpose:educ__sm_b__wedd__ren_en__mov__house',
'initial_list_status:f',
'term:60',
'emp_length:0',
'mths_since_issue_d:>84',
'int_rate:>20.281',
'mths_since_earliest_cr_line:<140',
'inq_last_6mths:>6',
'acc_now_delinq:0',
'annual_inc:<20K',
'dti:>35',
'mths_since_last_delinq:0-3',
'mths_since_last_record:0-2']

### Creating a Scorecard

In [4]:
df_ref_categories = pd.DataFrame(ref_categories, columns = ['Feature name'])
df_ref_categories['Coefficients'] = 0
df_ref_categories['p_values'] = np.nan
df_ref_categories

                                    Feature name  Coefficients  p_values
0                                        grade:G             0       NaN
1             home_ownership:RENT_OTHER_NONE_ANY             0       NaN
2                addr_state:ND_NE_IA_NV_FL_HI_AL             0       NaN
3                   verification_status:Verified             0       NaN
4   purpose:educ__sm_b__wedd__ren_en__mov__house             0       NaN
5                          initial_list_status:f             0       NaN
6                                        term:60             0       NaN
7                                   emp_length:0             0       NaN
8                         mths_since_issue_d:>84             0       NaN
9                               int_rate:>20.281             0       NaN
10              mths_since_earliest_cr_line:<140             0       NaN
11                             inq_last_6mths:>6             0       NaN
12                              acc_now_delinq:0             0       NaN
13                               annual_inc:<20K             0       NaN
14                                       dti:>35             0       NaN
15                    mths_since_last_delinq:0-3             0       NaN
16                    mths_since_last_record:0-2             0       NaN

In [5]:
df_scorecard = pd.concat([summary_table, df_ref_categories])
df_scorecard = df_scorecard.sort_values('Feature name').reset_index()

In [6]:
def feature_name(row):
    if(row.startswith('acc_now_delinq')): return 'acc_now_delinq'
    if(row.startswith('grade')): return 'grade'
    if(row.startswith('addr_state')): return 'addr_state'
    if(row.startswith('annual_inc')): return 'annual_inc'
    if(row.startswith('dti')): return 'dti'
    if(row.startswith('emp_length')): return 'emp_length'
    if(row.startswith('home_ownership')): return 'home_ownership'
    if(row.startswith('initial_list_status')): return 'initial_list_status'
    if(row.startswith('inq_last')): return 'inq_last'
    if(row.startswith('int_rate')): return 'int_rate'
    if(row.startswith('mths_since_earliest_cr_line')): return 'mths_since_earliest_cr_line'
    if(row.startswith('mths_since_last_record')): return 'mths_since_last_record'
    if(row.startswith('purpose')): return 'purpose'
    if(row.startswith('term')): return 'term'
    if(row.startswith('verification_status')): return 'verification_status'
    if(row.startswith('mths_since_issue_d')): return 'mths_since_issue_d'
    if(row.startswith('mths_since_last_delinq')): return 'mths_since_last_delinq'
    return row

In [7]:
df_scorecard['Original feature name'] = df_scorecard['Feature name'].apply(feature_name)
df_scorecard['Original feature name'].unique()

array(['Intercept', 'acc_now_delinq', 'addr_state', 'annual_inc', 'dti',
       'emp_length', 'grade', 'home_ownership', 'initial_list_status',
       'inq_last', 'int_rate', 'mths_since_earliest_cr_line',
       'mths_since_issue_d', 'mths_since_last_delinq',
       'mths_since_last_record', 'purpose', 'term', 'verification_status'],
      dtype=object)

In [8]:
min_score = 300
max_score = 850

In [9]:
df_scorecard.groupby('Original feature name')['Coefficients'].min()

Original feature name
Intercept                      1.483647
acc_now_delinq                 0.000000
addr_state                     0.000000
annual_inc                    -0.032055
dti                            0.000000
emp_length                     0.000000
grade                          0.000000
home_ownership                 0.000000
initial_list_status            0.000000
inq_last                      -1.286869
int_rate                       0.000000
mths_since_earliest_cr_line    0.000000
mths_since_issue_d            -0.308981
mths_since_last_delinq         0.000000
mths_since_last_record        -0.492287
purpose                        0.000000
term                           0.000000
verification_status           -0.001729
Name: Coefficients, dtype: float64

In [10]:
min_sum_coef = df_scorecard.groupby('Original feature name')['Coefficients'].min().sum()
min_sum_coef

-0.6382741431187717

In [11]:
max_sum_coef = df_scorecard.groupby('Original feature name')['Coefficients'].max().sum()
max_sum_coef

7.042439238384943

In [12]:
df_scorecard['Score - Calculation'] = df_scorecard['Coefficients'] * (max_score - min_score) / (max_sum_coef - min_sum_coef)

In [13]:
df_scorecard.loc[0,'Score - Calculation'] = ((df_scorecard['Coefficients'][0] - min_sum_coef) / (max_sum_coef - min_sum_coef)) * (max_score - min_score) + min_score

In [14]:
df_scorecard['Score - Preliminary'] = df_scorecard['Score - Calculation'].round()

In [15]:
min_sum_score_prel = df_scorecard.groupby('Original feature name')['Score - Preliminary'].min().sum()
min_sum_score_prel

301.0

In [16]:
max_sum_score_prel = df_scorecard.groupby('Original feature name')['Score - Preliminary'].max().sum()
max_sum_score_prel

850.0

In [17]:
df_scorecard['Score - Final'] = df_scorecard['Score - Preliminary']
df_scorecard.loc[0,'Score - Final'] = 451

In [18]:
df_scorecard.loc[46,'Score - Final'] = 65

In [19]:
df_scorecard.groupby('Original feature name')['Score - Final'].min().sum(), df_scorecard.groupby('Original feature name')['Score - Final'].max().sum()

(300.0, 850.0)

# Score prediction

In [20]:
df_scorecard.head(1)

,index,Feature name,Coefficients,p_values,Original feature name,Score - Calculation,Score - Preliminary,Score - Final
0,0,Intercept,1.483647,NaN,Intercept,451.946395,452.0,451.0

In [21]:
x_test = pd.read_csv('../processed/x_test_04_output.csv')
x_test.insert(0, 'Intercept', 1)

In [22]:
x_test.head(1)

,Intercept,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,emp_length_int,earliest_cr_line_proc,earliest_cr_line_months,term_int,issue_d_date,mths_since_issue_d,grade_A,grade_B,grade_C,grade_D,grade_E,grade_F,grade_G,sub_grade_A1,sub_grade_A2,sub_grade_A3,sub_grade_A4,sub_grade_A5,sub_grade_B1,sub_grade_B2,sub_grade_B3,sub_grade_B4,sub_grade_B5,sub_grade_C1,sub_grade_C2,sub_grade_C3,sub_grade_C4,sub_grade_C5,sub_grade_D1,sub_grade_D2,sub_grade_D3,sub_grade_D4,sub_grade_D5,sub_grade_E1,sub_grade_E2,sub_grade_E3,sub_grade_E4,sub_grade_E5,sub_grade_F1,sub_grade_F2,sub_grade_F3,sub_grade_F4,sub_grade_F5,sub_grade_G1,sub_grade_G2,sub_grade_G3,sub_grade_G4,sub_grade_G5,home_ownership_ANY,home_ownership_MORTGAGE,home_ownership_NONE,home_ownership_OTHER,home_ownership_OWN,home_ownership_RENT,verification_status_Not Verified,verification_status_Source Verified,verification_status_Verified,loan_status_Charged Off,loan_status_Current,loan_status_Default,loan_status_Does not meet the credit policy. Status:Charged Off,loan_status_Does not meet the credit policy. Status:Fully Paid,loan_status_Fully Paid,loan_status_In Grace Period,loan_status_Late (16-30 days),loan_status_Late (31-120 days),purpose_car,purpose_credit_card,purpose_debt_consolidation,purpose_educational,purpose_home_improvement,purpose_house,purpose_major_purchase,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,purpose_wedding,addr_state_AK,addr_state_AL,addr_state_AR,addr_state_AZ,addr_state_CA,addr_state_CO,addr_state_CT,addr_state_DC,addr_state_DE,addr_state_FL,addr_state_GA,addr_state_HI,addr_state_IA,addr_state_ID,addr_state_IL,addr_state_IN,addr_state_KS,addr_state_KY,addr_state_LA,addr_state_MA,addr_state_MD,addr_state_ME,addr_state_MI,addr_state_MN,addr_state_MO,addr_state_MS,addr_state_MT,addr_state_NC,addr_state_NE,addr_state_NH,addr_state_NJ,addr_state_NM,addr_state_NV,addr_state_NY,addr_state_OH,addr_state_OK,addr_state_OR,addr_state_PA,addr_state_RI,addr_state_SC,addr_state_SD,addr_state_TN,addr_state_TX,addr_state_UT,addr_state_VA,addr_state_VT,addr_state_WA,addr_state_WI,addr_state_WV,addr_state_WY,initial_list_status_f,initial_list_status_w,home_ownership_OTHER_NONE_ANY_RENT,addr_state_ND,addr_state_ND_NE_IA_NV_FL_HI_AL,addr_state_NM_VA,addr_state_OK_TN_MO_LA_MD_NC,addr_state_UT_KY_AZ_NJ,addr_state_AR_MI_PA_OH_MN,addr_state_RI_MA_DE_SD_IN,addr_state_GA_WA_OR,addr_state_WI_MT,addr_state_IL_CT,addr_state_KS_SC_CO_VT_AK_MS,addr_state_WV_NH_WY_DC_ME_ID,purpose_educational_renewable_energy_other_house,purpose_medical_wedding_vacation,purpose_major_purchase_car_home_improvement,term_int_36,term_int_60,emp_length_int_0,emp_length_int_1,emp_length_int_2_4,emp_length_int_5_6,emp_length_int_7_9,emp_length_int_10,mths_since_issue_d_27,mths_since_issue_d_27_29,mths_since_issue_d_29_30,mths_since_issue_d_30_39,mths_since_issue_d_39_45,mths_since_issue_d_45_56,mths_since_issue_d_56_84,mths_since_issue_d_84,int_rate_9.548,int_rate_9.548-12.025,int_rate_12.025-15.74,int_rate_15.74-20.281,int_rate_>20.281,delinq_2yrs:0,delinq_2yrs:1-3,delinq_2yrs:>=4,inq_last_6mths:0,inq_last_6mths:1-2,inq_last_6mths:3-6,inq_last_6mths:>6,open_acc:0,open_acc:1-3,open_acc:4-12,open_acc:13-17,open_acc:18-22,open_acc:23-25,open_acc:26-30,open_acc:>=31,pub_rec:0-2,pub_rec:3-4,pub_rec:>=5,total_acc:<=27,total_acc:28-51,total_acc:>=52,acc_now_delinq:0,acc_now_delinq:>=1,total_rev_hi_lim:<=5K,total_rev_hi_lim:5K-10K,total_rev_hi_lim:10K-20K,total_rev_hi_lim:20K-30K,total_rev_hi_lim:30K-40K,total_rev_hi_lim:40K-55K,total_rev_hi_lim:55K-95K,total_rev_hi_lim:>95K,annual_inc:<20K,annual_inc:20K-30K,annual_inc:30K-40K,annual_inc:40K-50K,annual_inc:50K-60K,annual_inc:60K-70K,annual_inc:70K-80K,annual_inc:80K-90K,annual_inc:90K-100K,annual_inc:100K-120K,annual_inc:120K-140K,annual_inc:>140K,mths_since_last_delinq:Missing,mths_since_last_delinq:0-3,mths_since_last_delinq:4-30,mths_since_last_delinq:31-56,mths_since_last_delinq:>=57,dti:<=1.4,dti:1.4-3.5,dti:3.5-7.7,dti:7.7-10.5,dti:10.5-16.1,dti:16.1-20.3,dti:20.3-21.7,dti:21.7-22.4,dti:22.4-35,dti:>35,mths_since_last_record:Missing,mths_since_last_record:0-2,mths_since_last_record:3-20,mths_since_last_record:21-31,mths_since_last_record:32-80,mths_since_last_record:81-86,mths_since_last_record:>=86
0,1,362514,19677589,21900299,32500,32500,32500.0,60 months,14.99,773.01,C,C5,Licensed vocational nurse,< 1 year,MORTGAGE,65000.0,Verified,Jul-14,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,NaN,home_improvement,Home improvement,950xx,CA,9.32,0.0,Apr-02,0.0,NaN,NaN,7.0,0.0,1208,4.3,20.0,f,0.0,0.0,38213.56,38213.56,32500.0,5713.56,0.0,0.0,0.0,Oct-15,27391.42,NaN,Oct-15,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,6563.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25100.0,NaN,NaN,NaN,0,2002-04-01,189.047003,60,2014-07-01,30,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0

In [23]:
inputs_test_with_ref_cat_w_intercept = x_test[df_scorecard[df_scorecard['Score - Final']!=0]['Feature name'].values]

In [24]:
scorecard_scores = df_scorecard[df_scorecard['Score - Final']!=0][['Score - Final']]

In [25]:
y_scores = inputs_test_with_ref_cat_w_intercept.dot(scorecard_scores.values)

# Cutpoints

In [26]:
sum_coef_from_score = ((y_scores - min_score) / (max_score - min_score)) * (max_sum_coef - min_sum_coef) + min_sum_coef

In [27]:
y_hat_proba_from_score = np.exp(sum_coef_from_score) / (np.exp(sum_coef_from_score) + 1)
y_hat_proba_from_score.head(5)

          0
0  0.933608
1  0.908409
2  0.908409
3  0.955909
4  0.964423

In [28]:
y_test = pd.read_csv('../processed/06_predictions.csv')
y_test = y_test.sort_values('index')
y_test.head()

,index,Unnamed: 0,pred_1,pred_2,pred_2_tr,y_test,obs,non_defaults,defaults,obs_pct,non_defaults_pct,defaults_pct
56000,0,0,0.934371,0.934902,1,1,56000,48512,7488,0.600491,0.574937,0.843433
40229,1,1,0.902951,0.909765,1,1,40229,33965,6264,0.431378,0.402534,0.705564
39948,2,2,0.906280,0.909248,1,1,39948,33705,6243,0.428365,0.399452,0.703199
71877,3,3,0.955018,0.956573,1,1,71877,63523,8354,0.770741,0.752838,0.940978
77336,4,4,0.964563,0.964068,1,1,77336,68785,8551,0.829278,0.815201,0.963167

In [29]:
fpr, tpr, thresholds = roc_curve(y_test.y_test,y_test.pred_2)
df_cutoffs = pd.concat([pd.DataFrame(thresholds), pd.DataFrame(fpr), pd.DataFrame(tpr)], axis = 1)
df_cutoffs.columns = ['thresholds', 'fpr', 'tpr']
df_cutoffs.loc[0,'thresholds'] = 1 - 1/np.power(10,16)

df_cutoffs['Score'] = ((np.log(df_cutoffs['thresholds'] / (1 - df_cutoffs['thresholds'])) - min_sum_coef) * ((max_score - min_score) / (max_sum_coef - min_sum_coef)) + min_score).round()
df_cutoffs.loc[0,'Score'] = max_score

df_cutoffs.head()
df_cutoffs.tail()

       thresholds       fpr       tpr  Score
15697    0.542286  0.999775  0.999917  358.0
15698    0.540949  0.999775  0.999929  357.0
15699    0.540892  0.999887  0.999929  357.0
15700    0.513890  0.999887  1.000000  350.0
15701    0.512922  1.000000  1.000000  349.0

In [30]:
def n_approved(p):
    return np.where(y_test['pred_2'] >= p, 1, 0).sum()

df_cutoffs['N Approved'] = df_cutoffs['thresholds'].apply(n_approved)
df_cutoffs['N Rejected'] = y_test['pred_2'].shape[0] - df_cutoffs['N Approved']
df_cutoffs['Approval Rate'] = df_cutoffs['N Approved'] / y_test['pred_2'].shape[0]
df_cutoffs['Rejection Rate'] = 1 - df_cutoffs['Approval Rate']

In [31]:
df_cutoffs.loc[2000:2020]

,thresholds,fpr,tpr,Score,N Approved,N Rejected,Approval Rate,Rejection Rate
2000,0.944588,0.106093,0.347579,549.0,30270,62987,0.324587,0.675413
2001,0.944587,0.106093,0.347591,549.0,30271,62986,0.324598,0.675402
2002,0.944586,0.106206,0.347591,549.0,30272,62985,0.324608,0.675392
2003,0.944577,0.106206,0.347685,549.0,30280,62977,0.324694,0.675306
2004,0.944576,0.106431,0.347685,549.0,30282,62975,0.324716,0.675284
2005,0.944468,0.106431,0.348562,549.0,30356,62901,0.325509,0.674491
2006,0.944464,0.106544,0.348562,549.0,30357,62900,0.325520,0.674480
2007,0.944436,0.106544,0.348788,549.0,30376,62881,0.325724,0.674276
2008,0.944436,0.106656,0.348788,549.0,30377,62880,0.325734,0.674266
2009,0.944414,0.106656,0.348989,549.0,30394,62863,0.325917,0.674083
2010,0.944408,0.106769,0.348989,549.0,30395,62862,0.325927,0.674073
2011,0.944368,0.106769,0.349285,548.0,30420,62837,0.326195,0.673805
2012,0.944368,0.106769,0.349309,548.0,30422,62835,0.326217,0.673783
2013,0.944367,0.106769,0.349321,548.0,30423,62834,0.326228,0.673772
2014,0.944367,0.106881,0.349321,548.0,30424,62833,0.326238,0.673762
2015,0.944355,0.106881,0.349392,548.0,30430,62827,0.326303,0.673697
2016,0.944355,0.106994,0.349392,548.0,30431,62826,0.326313,0.673687
2017,0.944306,0.106994,0.349854,548.0,30470,62787,0.326732,0.673268
2018,0.944304,0.107107,0.349854,548.0,30471,62786,0.326742,0.673258
2019,0.944298,0.107107,0.349925,548.0,30477,62780,0.326807,0.673193
2020,0.944298,0.107107,0.349949,548.0,30479,62778,0.326828,0.673172

In [32]:
df_cutoffs.to_csv('../processed/07_cutoffs.csv',index=False)
df_scorecard.to_csv('../processed/07_scorecard.csv',index=False)